@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');


.jobs {
    width: 100%;
    height: 80vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #00000057;
  }
  
  .jobs:before {
    content: '';
    position: absolute;
    background: url('../../assets/submenu-bg-jobs.webp') no-repeat center top/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }


.jobs .jobs-content {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 15%;
    padding: 1rem;
}

.jobs h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}



/* MEDIA QUERIES */

@media screen and (max-width:940px) {

.jobs h2 {
    font-size: 1.5rem;
}

.jobs h1 {
    font-size: 2rem;
}
}