@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

.mdma {
    width: 100%;
    height: 100vh;
    background: #00000048;
    position: relative;
  }
  
  .mdma:before {
    content: '';
    position: absolute;
    background: url('../../assets/sa.webp') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  

.mdma .mdma-content {
    display: block;
    position: absolute;
    bottom: 25%;
    padding: 1rem;
    width: 100%;
}

.mdma h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width:700px) {

.mdma h1 {
    font-size: 2rem;
}
}