@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');


.contact-hero {
    width: 100%;
    height: 80vh;
    position: relative;
    background: #14141460;
  }
  
  .contact-hero:before {
    content: '';
    position: absolute;
    background: url('../../assets/menu-bg-contact.webp') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
  
.contact-hero .contact-hero-content {
    width: 50%;
    display: block;
    position: absolute;
    bottom: 15%;
    left: 5%;
    padding: 1rem;
    width: max-content;
}

.contact-hero h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
}

.contact-hero p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 15px;
    text-align: center;
}

.contact-hero h2 {
    font-size: 3rem;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width:940px) {

.contact-hero .contact-hero-content {
        width: 100%;
        bottom: 10%;
        left: 0%;
}


.contact-hero h1 {
    font-size: 2rem;
    text-align: center;
}

.contact-hero h2 {
    font-size: 1.5rem;
    text-align: center;
}

.contact-hero p {
    font-size: 1rem;
    text-align: center;
}


}